* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}


/* tu je moje css */

html,
body {
    height: 100%;
}

#gameArea {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: rgb(58, 58, 58);
}

.score {
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    font-weight: bold;
    position: absolute;
    top: 1%;
    right: 1%;
}

#eater {
    background-color: #3DDC84;
    position: relative;
    z-index: 1;
}

#box {
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
}

#tail {
    background-color: #232323;
    position: absolute;
}

#tail:first-child {
    opacity: .7;
}